@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

html {
    background-image: urL('images/background.jpg');
    background-size: cover;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Open Sans';
    font-weight: 100;
}

#main {
    display: flex;
    flex-direction: column;
    width: 50rem;
    align-items: center;
    justify-content: center;
    width: 40rem;
    gap: 1rem;
}

body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    font-family: 'Open Sans';
}

h1 {
    margin-right: auto;
    font-size: 2rem;
    color: #baf4ff;
    text-shadow: 0px 0px 5px #08d8ff;
}

#container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 3px;
    box-shadow: 0px 0px 7px 0.1px rgb(59, 59, 59);
    width: 40rem;
    height: 25rem;
    background: linear-gradient(to right, rgba(8, 218, 255, 0.4), rgba(0, 255, 122, 0.4));
    backdrop-filter: blur(1px);
}

#header {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    color: #94ffc7;
    text-shadow: 0px 0px 5px #08ff7b;
    padding: 1rem;
}

form {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

form input {
    height: 1.9rem;
    background-color: rgba(202, 240, 255, 0.5);
    font-family: 'Open Sans';
    font-size: 1.2rem;
    border: solid 1px rgb(58, 58, 58);
    border-radius: 2px;
}

form input:focus-visible {
    outline: none;
}

#header button {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
    height: 1.9rem;
    border: solid 1px black;
    border-radius: 2px;
    background: linear-gradient(#ebebeb, #add3ff);
}

#header button:hover {
    opacity: 0.9;
}

#temperatureSwitch {
    display: none;
}

#window {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 1rem;
    height: calc(25rem - 3.5rem - 1rem);
    width: calc(40rem - 2rem);
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px black;
    border-radius: 4px;
    padding: 1rem;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentWeather {
    display: flex;
    flex-direction: column;
}

#mainIcon {
    width: 9rem;
    height: auto;
    opacity: 0.8;
}

#description {
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

#futureContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid black 1px;
    padding: 0 0.6rem;
} 

.dayContainer:last-child {
    border: 0;
    box-shadow: none;
}